header
  img.header__background(src="./assets/img/background.png")
  .container.header
    .header__top-menu.top-menu
      .top-menu__logo.logo
        //- img(src="./assets/img/HouseVOP.png")
        h1.logo__title HouseVOP
        p.logo__descr= 'жилой комплекс'
      nav.top-menu__nav.nav
        a(href="#") Контакты
        a(href="#") Ипотека
        a(href="#") Каталог квартир
        a(href="#") Район
        a(href="#") О комплексе
    .header__complex.complex
      .complex__title Жилой комплекс
        span= ' в историческом центре'
      .image-mouse
    .header__top-footer.top-footer.top-menu
      p.placeholder Наб. реки Фонтанки 10-15
      p.phone-call 8 (812) 123-45-67